.wrapper {
	font-family: var(--ff-main);
	font-size: var(--fz-default);
	line-height: var(--lh-default);
	font-variation-settings: "wght" var(--fw-default);
	color: var(--text-color-secondary);
	background-color: var(--bg-main);
	overflow: hidden;
}

.wrapper:not(header) {
	display: flex;
	flex-direction: column;
	gap: 180px;
}

.main-gap {
	gap: 180px;
}



.video {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center;
	visibility: hidden;
}

.gallery__body {
	max-inline-size: 1920px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.section__body {
	overflow: hidden;
}

.section__body,
.header__body,
.footer__body {
	padding: 0px 121px;
	width: 100%;
	margin: 0 auto;
	max-inline-size: 1920px;
}

.header__nav ul {
	gap: 48px;
}

.header__body {
	width: 100%;
	justify-content: space-between;
}

.parallax-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}


/* .areas-img,
.dream-img {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 100%;
} */
/* 
@media only screen and (max-device-width: 1366px) {

	.areas-img,
	.dream-img {
		background-attachment: scroll;
	}
} */


.header-block {
	gap: 32px;
}



header {
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
	color: var(--wh-color);
	display: flex;
	justify-content: center;
	margin: 0;
	min-height: 90px;
}

.padding-top {
	padding-top: 90px;
}

.header__body {
	position: relative;
	z-index: 11;
}

header::before {
	content: '';
	position: absolute;
	width: 100%;
	z-index: 9;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
}

.block-image {
	position: absolute;
	z-index: 2;
}

.swiper-statistic {
	position: relative;
}

.slider-navigation__block {
	gap: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateX(-135%);
	z-index: 2;
}

.navigatin-translate {
	transform: translate(370%, -56px);
}

.infra-width {
	align-self: start;
	max-width: 225px;
}

.showcase__items {
	gap: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.showcase__wrap {



	display: flex;
	align-items: center;
	flex-direction: column;
	width: 200%;
	margin-left: -50%;
	margin-right: -50%;
}

.showcase__items {
	position: relative;
	width: 92%;
	height: 660px;
	display: flex;
	align-items: start;
	justify-content: start;
	overflow: hidden;
}

.showcase__item img {
	height: 100%;
}

.showcase__item {
	position: absolute;
	width: 33.3333%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8em;
	background: #333;
	color: #fff;
	will-change: transform;
	cursor: grabbing;
}

.infra-block {
	align-self: start;
	flex: 1 1 522px;
}

.swiper-pagination-current {
	color: var(--primary-main-color);
	font-weight: 500;
	font-variation-settings: "wght" var(--fw-title);
}

.section-relative {
	position: relative;
}

.position-img {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}

.moving-img {
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0;
	left: 0;
	z-index: 3;
}

.footer__body {
	background-image: url('../images/map.png');
	background-size: auto;
	background-position: 100% -20%;
	background-repeat: no-repeat;
	gap: 69px;
}

footer {
	color: var(--wh-color);
	background-color: var(--primary-main-color);
	padding-top: 40px;
	padding-bottom: 40px;
}

.block-info {
	justify-content: start;
	align-items: start;
	gap: 80px;
}

.footer-address {
	justify-content: start;
	gap: 16px;
}

.footer-address span {
	color: var(--signature-color);
}

.street {
	--fz-default: 24px;
	font-size: var(--fz-default);
}

.info .flex-style-row {

	gap: 24px;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color-secondary);
}

.block-social {
	margin-left: 5%;
}

.info {
	gap: 40px;
}

.main-title {

	--fz-title: 224px;
	font-size: var(--fz-title);
	color: var(--wh-color);
	width: 100%;
	text-align: left;
	position: relative;
	z-index: 2;
	bottom: 15px;
	letter-spacing: -1px;
}

h1::after,
h2::before,
h1::after,
h1::before {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	position: relative;
	margin-top: calc((inherit - 1em) / -2 + var(--foe, 0em));
	white-space: nowrap;
}

.line {
	overflow: hidden;
}

.split-text .line-wrap {
	overflow: hidden;
	position: relative;
}

.whitespace::after {
	content: " ";
}

.about-arrow {
	animation: scaleArrow 1s ease-in-out infinite alternate;
	transform-origin: center;
}



@keyframes scaleArrow {
	0% {
		transform: scale(1);
		transform: translateY(0px);
	}

	100% {
		transform: scale(1.2);
		transform: translateY(8px);
	}
}

@keyframes scaleText {
	0% {
		transform: scale(1);

	}

	100% {
		transform: scale(1.1);

	}
}

.split-parent {
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.split-text .line-wrap-content {
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
}

.main-title .title-span {
	font-family: 'Sverdlovsk', sans-serif;
	--fz-title: 150px;
	line-height: var(--lh-text);
	font-size: var(--fz-title);
	color: var(--title-span-color);
	letter-spacing: 0;
}

.block-dark {
	background-color: var(--primary-main-color);
}

.section__body {
	justify-content: space-between;
}

.block-relative {
	position: relative;
	width: 100%;
	z-index: 6;
}

.section__body-main {
	display: flex;
	justify-content: end;
	position: relative;
	overflow: visible;
}

.section__body-main::-webkit-scrollbar {
	width: 0;
}

.card-name {
	color: var(--block-header-color);
	align-self: start;
	flex: 1 1 30%;
	background-color: var(--wh-color);
	overflow: hidden;
}

.content-container {
	transition: transform 1s ease-in-out;
	background-color: var(--primary-main-color);
}

.block-name {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
}

.block-center {
	justify-content: center;
	align-items: center;
}

.block-name .title {
	width: 100%;
	max-width: 1044px;
	display: flex;
	align-items: start;
	justify-content: start;
}

.section-complex {
	align-items: start;

	gap: 56px;
}

.block-text {
	gap: 56px;
	flex: 1 1 61.35%
}

.font-about-block {
	font-variation-settings: "wght" var(--fw-title);
	line-height: var(--lh-text);
	color: var(--primary-main-color);
	font-size: var(--fz-second-title);
}

.font-about-block-blue {
	--fz-second-title: 58px;
	color: var(--blue-color);
	font-size: var(--fz-second-title);
	font-variation-settings: "wght" var(--fw-default);
}

.scroll-card img {
	width: 720px;
	height: 480px;
}

.scroll-to-video {
	position: relative;
	z-index: 0;
	height: 100vh;
	width: 100%;
}

.scroll-container {
	overflow: hidden;
}

.min-height {
	min-height: 576px;
}

.scroll-card {
	gap: 40px;
	justify-content: start;
	align-items: start;
}


.swiper-statistic {
	width: 1180px;
}

.swiper-quality {
	width: 100%;
}

.about-button {
	text-align: center;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	padding: 30px 10px 10px;
	background-color: var(--primary-main-color);
	letter-spacing: 0.48px;
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 0;
	transform: translate(335%, -30%) !important;
}

.gap-button {
	gap: 13px;
}

.block-name p {
	max-width: 578px;
}

.block-info__list {
	flex-wrap: wrap;
	gap: 56px;
}

.block-slide__list {
	gap: 100px;
}

.block-info__list li {
	flex: 1 1 40%;

}

.decoration-underline {
	padding-bottom: 16px;
	border-bottom: 1px solid #D1D4D8;
}

.block-description {
	gap: 56px;
}

.block-title {
	height: 606px;
	max-width: 522px;
	width: 100%;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.text-overflow {
	overflow: hidden;
	width: 100%;
}

.block-text-title {
	overflow: hidden;
}

.block-title-scroll {
	padding-right: 50px;
	background-color: var(--wh-color);
}

.slider-card {
	height: auto;
	align-items: center;
	justify-content: start;
}

.background-gray {
	background-color: #FAFAFA;
}

.slider-block-title {
	gap: 56px;
	padding-top: 80px;
	padding-bottom: 56px;
	max-width: 520px;
}

.section__body-title .block-title {
	height: auto;
	width: 100%;
	max-width: 892px;
	margin-bottom: 56px;
	gap: 16px;
}

.slider-card {
	flex: 0 0 50%;
}

.slider-card-img {
	flex: 0 0 50%;
}

.section__body:has(.block-info-adress),
.section__body:has(.swiper-quality) {
	padding-right: 0px;
	margin: 0;
	width: 100%;
	justify-content: space-between;
	margin: 0 auto;
}

.block-info-adress {
	gap: 56px;
}

.cards {
	gap: 56px;
	justify-content: space-between;

}

.card {
	position: relative;
	overflow: hidden;
}

.card-text-content .font-about-block {
	gap: 24px;
	justify-content: end;
	padding-left: 50px;
}

.card-credit .card-text-content {
	transform: translate(-66%, 80%);

}

.card-credit .card-text-content,
.card-cash .card-text-content {
	transition: 1s transform ease;
}

.card-cash .card-text-content {
	transform: translate(-68.6%, 80%);
}

.card-cash .card-text-content:hover,
.card-credit .card-text-content:hover {
	transform: translate(0%, 0%);
}

.card-text-content {
	align-items: end;
	padding: 50px;
	background-color: var(--wh-color);
	position: absolute;
	width: 100%;
	height: 100%;
	gap: 112px;
	top: 0;
	cursor: pointer;
	z-index: 2;
	flex: 1 1 50%;
}

.gap {
	gap: 56px;
}

.title-gap {
	gap: 24px;
}

.text-width {
	width: 100%;
	justify-content: center;
}

.text-width p {
	max-width: 522px;
}

.block-map {
	position: relative;
	justify-content: center;
	align-items: center;
}

.pointer {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	transform: translate(-50px, 25px);
}

.block-info-adress .text-width {
	padding: 90px 0px;
}

.block-map img {
	width: auto;
	height: auto;
}

.form__block {
	width: 100%;
}

.placeholder-container {
	position: relative;
}

.input-style {
	padding: 16px 24px;
	border: 1px solid var(--signature-color);
	color: var(--primary-main-color);
	border-radius: 100px;
	background-color: transparent;
}

.input__name {
	width: 100%;
}

.input__number {
	width: 100%;
}

.input-placeholder {
	position: absolute;
	top: 16px;
	left: 24px;
	z-index: 2;
	width: auto;
	height: auto;
	display: block;
	color: var(--signature-color);
	pointer-events: none;
}

.input-event {
	cursor: text;
}

input.input-style:focus {
	border: 1px solid var(--blue-color);
}

input.input-event:focus+.input-placeholder {
	display: none;
}

input.input-event[value=""]+.input-placeholder {
	display: none;
}


.form-flex {
	gap: 24px;
}

.form-flex>* {
	flex: 0 0 351px;
}

.swiper-statistic {
	position: relative;
}


.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}

.svg-width {
	width: 100px;
}

.custom__arrow {
	cursor: pointer;
	border: 1px solid var(--signature-color);
	border-radius: 100%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide__arrow-hover {
	transition: border-color 0.3s ease, stroke 0.3s ease;
}

.slide__arrow-hover:hover {
	--hover-arrow-color: #0474DC;
	border-color: var(--blue-color);
}


#panels #panels-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 56px;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding: 0;

	overflow: hidden;
}

.panels-overflow {
	overflow: hidden;
}

#panels #panels-container .panel {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.change-title {
	overflow: hidden;
	height: 90px;
	position: relative;
}

.change-text {
	position: relative;
	width: 522px;
	height: 240px;
}

.title-slide {
	position: absolute;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.title-slide.hide {
	transform: translateY(100%);
}

.title-slide.show {
	transform: translateY(0);
}

.text-slide.hide {
	opacity: 0;
}

.text-slide.show {
	opacity: 1;
}

.text-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 0.5s ease-in-out;
}

.swiper-quality .swiper-wrapper {
	max-width: 960px;
}

.slider-card-body {
	justify-content: start;
}

.text-visible {
	visibility: visible;
	height: 100%;
	opacity: 1;
}